# dependencies
**/node_modules

# compiled output
/dist
/tmp

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# IDE - VSCode
.vscode/*

# misc
npm-debug.log
yarn-error.log
package-lock.json

# System Files
.DS_Store
