
# dependencies
**/node_modules

# compiled output
/dist
/tmp

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# IDE - VSCode
.vscode/*
.metals/*

# misc
npm-debug.log
yarn-error.log
package-lock.json
build

# System Files
.DS_Store

# Env Variable
**/.env
