/* strain chart div for maintaining its size */
.s-chart{
    height: inherit;
    box-sizing: border-box;
    display: flexbox;
}

.chart-buttons{
    display: inline-flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 18px;
}

canvas{ 
height: inherit !important;
}