/* Example Card Style */
.card{
    width: 100%;
    height: 100%;

    /* background: #EFEFEF;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 20px; */
  }
/* End Example Card Style */

/* temporary card text */
.card-text{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
  }
/* End of temporary card text */