.default-button {
    height: 43.13px;

    border: none;
    text-align: center;
    text-decoration: none;
    background: none;

    font-family: "Roboto Mono";
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: white;

    padding-left: 1em;
    cursor: pointer;
}