/* Example Card Style */
.card{
  /* would have the styling of a specific card type */
  /* To center things in the card the position needs to be set to absolute and follow the styling bellow */
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 50%;
    left: 25%; */
    /* margin-top: - max-content/2; */
  }
/* End Example Card Style */

/* temporary card text */
.card-text{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
  }
/* End of temporary card text */