/* Card section(grid) */
.cardSection{
    position: absolute;
    width: 88.5%;
    height: 1000px;
    left: 261px;
    top: 95px;
    box-shadow: -4px -6px 4px rgba(0, 0, 0, 0.4), 4px 6px 4px rgba(255, 255, 255, 0.4);
    border-radius: 14px;
  }
/* End of card section(grid) */

/* Block */
.block{
    position: relative;
    /* background: #D4D4D4; */
    background: #EFEFEF;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.4);
    /* box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.192), -4px -6px 10px rgba(255, 255, 255, 0.61); */
    border-radius: 20px;
  }
/* End of Block */