/* Navbar */

.menu{
    position: absolute;
    width: 230px;
    height: 95%;  
    /* height: 972.77px; */
    left: 0px;
    top: 20.61px;
    background: #A1D7AB;
    box-shadow: 3.81105px 3.81105px 3.81105px rgba(0, 0, 0, 0.25);
    border-radius: 4.98346px;
  
  }
  
  .moonbuggy-logo{
    position: absolute;
    width: 168.72px;
    height: 112.88px;
    left: 31.49px;
    top: 40.23px;
    border-radius: 4.98346px;
  }
  
  .uprm-logo{
    position: absolute;
    width: 67.76px;
    height: 69.62px;
    left: 115.48px;
    top: 153px;
    border-radius: 4.98346px;
  }
  
  .nasa-logo {
    position: absolute;
    width: 80.21px;
    height: 69.62px;
    left: 36.27px;
    top: 153px;
    border-radius: 4.98346px;
  }
  
  .button-list{
    position: absolute;
    top: 256.94px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .Navbar-button{
    width: 216.64px;
    height: 75.51px;
    margin: 8px;
    background: #A1D7AB;
    border-radius: 4.98346px;
    /* text */
    text-decoration: none;
    text-align: center;
    /* text */
  }
  
  .Navbar-button > text{
    width: 140.18px;
    height: 38px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 24.7718px;
    line-height: 70px;
    color: #2E854F;
  } 
  
  .Navbar-button:hover{
    background: #B2DEBA;
    box-shadow: 0px 0.952763px 3.81105px rgba(0, 0, 0, 0.25);
  }
  
  .logo-list{
    width: 210px;
    position: absolute;
    bottom: -25px;
    left: 0;

    align-items: center;
    justify-content: space-between;
    padding: 9px 25px 25px;
  }
  
  .chevron-logo{
    position: relative;
    width: 70.36px;
    height: 58.9px;
    border-radius: 4.98346px;
    margin: 10px;
  }
  
  .gm-logo{
    position: relative;
    width: 52.04px;
    height: 53.8px;
    margin: 10px;
    border-radius: 4.98346px;
    
  }
  
  .nnl-logo{
    position: relative;
    width: 81.42px;
    height: 40.85px;
    border-radius: 4.98346px;
    margin-left: 45px;
  }
  
  .boeing-logo{
    position: relative;
    width: 144.38px;
    height: 43.7px;
    border-radius: 4.98346px; 
    margin-left: 10px;
  }
  
  .icon{
    margin: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    width: 32px;
  }
  
  /* End Navbar */